doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/theme.min.css')
    link(rel='stylesheet', href='/stylesheets/reactSelect.css')
  body
    #container
  script(type='application/javascript', src='/javascripts/browser.js')
