body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.commonFormComponents {
  width:190px;
  display: inline-block;
  margin:0 5px !important;
  padding-top:0 !important;
  vertical-align: top;
}

.fileUploadName {
  margin: 0 5px;
  border-bottom: 1px solid #e5e5e5;
  display: inline-block;
  vertical-align: bottom;
  overflow: scroll;
  width: 150px;
  text-align: center;
  height: 20px;
  white-space: nowrap;
}

.errorContainer {
  color: red;
}

input {
  font-size: 13px !important;
}

.errorContainerFileInput {
  color: red;
  text-align: right;
}

.smartButtonContainer {
  min-width: 70px;
  display: inline-block;
  vertical-align: top;
  margin: 34px 10px 0px 10px;
}

.smartCheckBoxContainer {
  display: inline-block;
  margin: 42px 5px 0px;
}

.radioContainer {
  display: inline-block;
  margin: 13px 5px 0 ;
}

.textClass {
  font-size: 13px;
}

.borderClass {
  margin: 100px 50px;
	border: 2px solid #e5e5e5;
  padding: 15px;
}

body {
    background-color: white !important;
}